@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
}

@keyframes shakeWobble {
  0% {
    filter: url(#wobble);
  }
  100% {
    filter: url(#wobble);
  }
}

@keyframes float1 {
  0%, 100% {
    transform: translateY(0) rotate(-6deg);
  }
  50% {
    transform: translateY(-10px) rotate(-6deg);
  }
}

@keyframes float2 {
  0%, 100% {
    transform: translateY(0) rotate(-2deg);
  }
  50% {
    transform: translateY(-10px) rotate(-2deg);
  }
}

@keyframes float3 {
  0%, 100% {
    transform: translateY(0) rotate(6deg);
  }
  50% {
    transform: translateY(-10px) rotate(6deg);
  }
}

.float-1 {
  animation: float1 4s ease-in-out infinite;
}

.float-2 {
  animation: float2 4s ease-in-out infinite;
}

.float-3 {
  animation: float3 4s ease-in-out infinite;
}



